html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
.encoder{
    width: 100%;
    height: max-content;
    padding-left: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.container
{
    width: 100%;
    padding-top: 5%;
    height: max-content;
}
.container3{
    position: relative;
    opacity: 0;
    padding: 2%;
}