html
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body
{
    width: 100%;
    height: 100%;
}
.content
{
    padding-left: 5vw;
}
.userPD
{
    display: flex;
    margin:0;
}
.heading{
    padding-top: 1.2vh;
    margin: 0;
    color: rgb(18, 173, 173);
}
.heading1
{
    width: 10vw;
}
.heading2
{
    width: 12vw;
}
.heading3
{
    padding-right: 1vw;
    width: 3vw;
}
.heading4
{
    
    width: 12vw;
}
.heading5
{
    width: 24vw;
}
.line
{
    
    border-bottom: 2px solid rgb(18, 173, 173);
    
}
.line1
{
    height: 3.5vh;
    width: 85vw;
}
.line2
{
    height: 2.5vh;
    width: 83vw;
}
.line3
{
    height: 2.5vh;
    width: 91vw;
}
.line4
{
    height: 2.5vh;
    width: 83vw;
}
.line5
{
    height: 2.5vh;
    width: 76vw;
}


.details
{
    padding-left: 30px;
    padding-bottom: 20px;
}

.details1, .details21{
    
    display: flex;
}
.head1
{
    padding-top: 10px;
    width: 300px;
}
.head2
{
    margin: 0;
    padding: 0;
    width: 300px;
}
.data
{
    display: flex;
    padding-top: 10px
}
.data1
{
    display: flex;
}
.cgpi
{
    padding-top: 0;
}
#Submit
{
    width: 60px;
    height: 40px;
    border-radius: 10px;
}
.cv2
{
    display: flex;
    width: 100%;
    height: max-content;
}
.part1
{
    color: white;
    background-color: rgb(7, 143, 95);
    width: 30%;
    height: max-content;
}
.part2
{
    width: 70%;
    height: max-content;
}
.heading6
{
    width: 100%;
    padding-left: 20%;
    padding-top: 7%;
    color: white;
}
.heading7
{
    padding-left: 1%;
    color: rgb(7, 143, 95);
}
.first , .second
{
    display: flex;
}
.cpi
{
    display: flex;
}
